#playboxImg {
    height: 10em;
    width: 8em;
}

.playbox:hover {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 680px) {
    /* Styles */
    #playboxImg {
        height: 110px;
        width: 120px;
    }
    
}