.titlebar {
    text-align: center;
}
.titlebar > h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 10rem;
    color: yellow;
    letter-spacing: .01rem;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.titlebar > h1:hover {
    font-size: 13rem;
}
#titlebar-jumbotron {
    max-height: 300px;
    background-image: url('./eggBkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}


@media only screen and (min-width : 681px) and (max-width: 960px) {
    .titlebar > h1 {
        font-size: 6em;
    }
    .titlebar > h1:hover {
        font-size: 6.5em;
    }
    
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 680px) {
    /* Styles */
    .titlebar > h1 {
        font-size: 4em;
    }
    .titlebar > h1:hover {
        font-size: 4.5em;
    }
    
}